apiVersion: apps/v1
kind: Deployment
metadata:
  name: authentik-worker
  namespace: authentik
  labels:
    app: authentik-worker
    app.kubernetes.io/component: worker
    app.kubernetes.io/instance: authentik
    app.kubernetes.io/name: authentik-worker
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: authentik-worker
  template:
    metadata:
      labels:
        app: authentik-worker
        app.kubernetes.io/component: worker
        app.kubernetes.io/instance: authentik
        app.kubernetes.io/name: authentik-worker
        policy-type: "app"
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: authentik-worker
          image: ghcr.io/goauthentik/server:latest
          args:
            - worker
          envFrom:
            - secretRef:
                name: authentik-env
          env:
            - name: AUTHENTIK_POSTGRESQL__HOST
              value: authentik-pg.seyzahl.com
            - name: AUTHENTIK_POSTGRESQL__NAME
              value: authentik
            - name: AUTHENTIK_ERROR_REPORTING__ENABLED
              value: "false"
            - name: AUTHENTIK_LOG_LEVEL
              value: info
            - name: AUTHENTIK_REDIS__HOST
              value: redis.authentik.svc.cluster.local
          resources:
            limits:
              memory: 1Gi
            requests:
              cpu: 100m
              memory: 512Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: false
          volumeMounts:
            - name: media
              mountPath: /media
            - name: templates
              mountPath: /templates
      restartPolicy: Always
      volumes:
        - name: media
          persistentVolumeClaim:
            claimName: authentik-media-pvc-nfs
        - name: templates
          persistentVolumeClaim:
            claimName: authentik-templates-pvc-nfs
