apiVersion: "cilium.io/v2alpha1"
kind: CiliumL2AnnouncementPolicy
metadata:
  name: gateway-policy
  namespace: kube-system
spec:
  serviceSelector:
    matchExpressions:
      - key: io.cilium.gateway/owning-gateway
        operator: Exists
  loadBalancerIPs: true
