apiVersion: v1
kind: Service
metadata:
  name: blog
  namespace: blog
  labels:
    app: blog
    app.kubernetes.io/name: blog
    app.kubernetes.io/instance: blog
    app.kubernetes.io/component: web
spec:
  selector:
    app: blog
  ports:
  - name: http
    port: 80
    targetPort: http
    protocol: TCP
  type: ClusterIP
