apiVersion: apps/v1
kind: Deployment
metadata:
  name: maybe
  labels:
    app: maybe
    app.kubernetes.io/name: maybe
    app.kubernetes.io/instance: maybe
    app.kubernetes.io/component: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: maybe
  template:
    metadata:
      labels:
        app: maybe
        app.kubernetes.io/name: maybe
        app.kubernetes.io/instance: maybe
        app.kubernetes.io/component: web
        policy-type: "app"
    spec:
      # securityContext:
      #   runAsUser: 33
      #   runAsGroup: 33
      #   fsGroup: 33

      containers:
        - name: maybe
          image: ghcr.io/maybe-finance/maybe:0.6.0

          securityContext:
              allowPrivilegeEscalation: false

          envFrom:
            - configMapRef:
                name: maybe-configmap
            - secretRef:
                name: maybe-container-env

          ports:
            - containerPort: 3006
              protocol: TCP

          volumeMounts:
            - name: maybe-data
              mountPath: /etc/maybe/data

      restartPolicy: Always

      volumes:
        - name: maybe-data
          persistentVolumeClaim:
            claimName: maybe-data-pvc
