apiVersion: v1
kind: Service
metadata:
  name: maybe
  labels:
    app: maybe
    app.kubernetes.io/name: maybe
    app.kubernetes.io/instance: maybe
    app.kubernetes.io/component: web
spec:
  selector:
    app: maybe
  type: ClusterIP
  ports:
    - port: 3006
