apiVersion: apps/v1
kind: Deployment
metadata:
  name: audiobookshelf
  labels:
    app: audiobookshelf
    app.kubernetes.io/name: audiobookshelf
    app.kubernetes.io/instance: audiobookshelf
    app.kubernetes.io/component: media-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: audiobookshelf
  template:
    metadata:
      labels:
        app: audiobookshelf
        app.kubernetes.io/name: audiobookshelf
        app.kubernetes.io/instance: audiobookshelf
        app.kubernetes.io/component: media-server
    spec:
      securityContext:
        runAsUser: 1000 # found from www-data:
        runAsGroup: 1000 # found from www-data:
        fsGroup: 1000 # found from www-data:
      containers:
        - name: audiobookshelf
          image: ghcr.io/advplyr/audiobookshelf:2.31.0
          ports:
            - containerPort: 3005
              protocol: TCP
          envFrom:
          - configMapRef:
              name: audiobookshelf-configmap
            # - secretRef:
            #     name: audiobookshelf-container-env
            #
          volumeMounts:
            - name: audiobooks
              mountPath: /audiobooks
            - name: podcasts
              mountPath: /podcasts
            - name: metadata
              mountPath: /metadata
            - name: config
              mountPath: /config

          securityContext:
              allowPrivilegeEscalation: false

      restartPolicy: Always


      volumes:
        - name: audiobooks
          persistentVolumeClaim:
            claimName: audiobookshelf-audiobooks

        - name: podcasts
          persistentVolumeClaim:
            claimName: audiobookshelf-podcasts

        - name: metadata
          persistentVolumeClaim:
            claimName: audiobookshelf-metadata

        - name: config
          persistentVolumeClaim:
            claimName: audiobookshelf-config
