apiVersion: v1
kind: Service
metadata:
  name: audiobookshelf
  labels:
    app: audiobookshelf
    app.kubernetes.io/name: audiobookshelf
    app.kubernetes.io/instance: audiobookshelf
    app.kubernetes.io/component: media-server
spec:
  selector:
    app: audiobookshelf
  type: ClusterIP
  ports:
    - port: 3005
