apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: storage
resources:
  - repository.yaml
  - secrets.yaml
  - release.yaml
  - networkpolicy.yaml
configMapGenerator:
  - name: csi-driver-iscsi-values
    files:
      - values.yaml
generatorOptions:
  disableNameSuffixHash: true
