apiVersion: v1
kind: Service
metadata:
  name: postiz
  labels:
    app: postiz
    app.kubernetes.io/name: postiz
    app.kubernetes.io/instance: postiz
    app.kubernetes.io/component: web
spec:
  selector:
    app: postiz
  type: ClusterIP
  ports:
    - port: 4200
      targetPort: 4200
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: postiz-redis
  labels:
    app: postiz-redis
    app.kubernetes.io/name: postiz
    app.kubernetes.io/instance: postiz
    app.kubernetes.io/component: cache
spec:
  selector:
    app: postiz-redis
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: postiz-temporal
  labels:
    app: postiz-temporal
    app.kubernetes.io/name: postiz
    app.kubernetes.io/instance: postiz
    app.kubernetes.io/component: worker
spec:
  selector:
    app: postiz-temporal
  type: ClusterIP
  ports:
    - port: 7233
      targetPort: 7233
      protocol: TCP
