apiVersion: v1
kind: Service
metadata:
  name: wallabag
  labels:
    app: wallabag
    app.kubernetes.io/name: wallabag
    app.kubernetes.io/instance: wallabag
    app.kubernetes.io/component: web
spec:
  ports:
    - protocol: TCP
      port: 8083
      targetPort: 80
      name: http
  selector:
    app: wallabag
  type: ClusterIP
