apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage
  namespace: default
  labels:
    app.kubernetes.io/name: homepage
data:
  kubernetes.yaml: |
    mode: default
  settings.yaml: ""
  custom.css: ""
  custom.js: ""
  bookmarks.yaml: ""

  services.yaml: |
    - Media:
      - Linkding:
            href: https://linkding.seyzahl.com
            icon: linkding.png
      - Immich:
            href: https://immich.dab-fujita.ts.net
            icon: immich.png
      - Commafeed:
            href: https://commafeed.seyzahl.com
            icon: commafeed.png
      - Wallabag:
            href: https://wallabag.seyzahl.com
            icon: wallabag.png
      - Jellyfin:
            href: http://192.168.4.107:8096
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/jellyfin.png
      - JellySeerr:
            href: http://192.168.5.221:5055/
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/jellyseerr.png
      - qBittorrent:
            href: http://192.168.5.221:8080
            icon: qbittorrent.png
      - Suwayomi:
            href: https://suwayomi.seyzahl.com/library
            icon: suwayomi.png

    - Professional:
      - N8N:
            href: http://auto.seyzahl.com/
            icon: n8n.png
      - AWS:
            href: https://us-west-1.console.aws.amazon.com
            icon: aws.png
      - Azure:
            href: https://portal.azure.com/#home
            icon: azure.png
      - T3-Live:
            href: https://www.t3live.com/login
      - finviz:
            href: https://finviz.com
      - Schwab:
            href: https://www.schwab.com/

    - Administration:
      - PVE-Main:
            href: https://192.168.5.12:8006/
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/proxmox.png
      - PVE:
            href: https://192.168.6.42:8006/
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/proxmox.png
      - Truenas:
            href: https://192.168.7.14
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/truenas-scale.png
      - Pangolin:
            href: https://pangolin.seyzahl.com/
            icon: pangolin.png
      - Unifi:
            href: https://unifi.ui.com
            icon: unifi.png
      - Omni:
            href: https://pedrotchang.omni.siderolabs.io/
            icon: talos.png

    - Developer:
      - Github:
            href: https://github.com/pedrotchang
            icon: github.png
            description: GitHub
      - CloudFlare:
            href: https://cloudflare.com/
            icon: cloudflare.png
            description: CloudFlare
      - Kubernetes:
            href: https://kubernetes.io/docs/home/
            icon: kubernetes.png
            description: Kubernetes Docs
      - Claude:
            href: https://claude.ai/new
            description: Claude
            icon: claude-ai.png

    - Learn:
      - KubeCraft:
            href: https://www.skool.com/kubecraft
            icon: kubecraft.png
      - Boot.dev:
            href: https://www.boot.dev/tracks/backend
      - Udemy:
            href: https://www.udemy.com/

  widgets.yaml: |

    - kubernetes:
        cluster:
          show: true
          cpu: false
          memory: false
          showLabel: true
          label: "Tachtit"
        nodes:
          show: true
          cpu: false
          memory: false
          showLabel: true
    - resources:
        backend: resources
        expanded: false
        cpu: false
        memory: false
        network: default
    - search:
        provider: google
        target: _blank
  docker.yaml: ""
