apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: forgejo
resources:
  - namespace.yaml
  - deployment.yaml
  - secrets.yaml
  - service.yaml
  - storage.yaml
  - network-policy.yaml
