apiVersion: v1
kind: Service
metadata:
  name: pai-memory
  labels:
    app: pai-memory
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: pai-memory
