apiVersion: apps/v1
kind: Deployment
metadata:
  name: minecraft
  labels:
    app: minecraft
    app.kubernetes.io/name: minecraft
    app.kubernetes.io/instance: minecraft
    app.kubernetes.io/component: game-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minecraft
  template:
    metadata:
      labels:
        app: minecraft
        app.kubernetes.io/name: minecraft
        app.kubernetes.io/instance: minecraft
        app.kubernetes.io/component: game-server
        policy-type: "server"
    spec:
      initContainers:
        - name: remove-incompatible-mods
          image: busybox:latest
          command: ['sh', '-c', 'rm -f /data/mods/colorwheel*.jar']
          volumeMounts:
          - name: minecraft-data
            mountPath: /data
      containers:
        - name: minecraft
          image: itzg/minecraft-server:2025.12.1

          resources:
            requests:
              memory: 8Gi
              cpu: 2
            limits:
              memory: 12Gi
              cpu: 4

          securityContext:
              allowPrivilegeEscalation: false

          imagePullPolicy: Always

          envFrom:
            - configMapRef:
                name: minecraft-configmap
            - secretRef:
                name: minecraft-container-env

          ports:
            - containerPort: 25565
              protocol: TCP
              name: minecraft
            - containerPort: 25575
              protocol: TCP
              name: rcon
            - containerPort: 8123
              protocol: TCP
              name: web

          volumeMounts:
          - name: minecraft-data
            mountPath: /data

      restartPolicy: Always

      volumes:
        - name: minecraft-data
          persistentVolumeClaim:
            claimName: minecraft-data-pvc-nfs
