apiVersion: v1
kind: Service
metadata:
  name: minecraft
  labels:
    app: minecraft
    app.kubernetes.io/name: minecraft
    app.kubernetes.io/instance: minecraft
    app.kubernetes.io/component: game-server
    cilium-lb-pool: apps-pool
spec:
  selector:
    app: minecraft
  type: LoadBalancer
  ports:
    - port: 25565
      protocol: TCP
