apiVersion: v1
kind: Service
metadata:
  name: minecraft
  labels:
    app: minecraft
    app.kubernetes.io/name: minecraft
    app.kubernetes.io/instance: minecraft
    app.kubernetes.io/component: game-server
spec:
  selector:
    app: minecraft
  type: ClusterIP
  ports:
    - name: minecraft
      port: 25565
      protocol: TCP
    - name: web
      port: 8123
      protocol: TCP
