apiVersion: v1
kind: Service
metadata:
  name: linkding
  labels:
    app: linkding
    app.kubernetes.io/name: linkding
    app.kubernetes.io/instance: linkding
    app.kubernetes.io/component: web
spec:
  selector:
    app: linkding
  type: ClusterIP
  ports:
    - port: 3003
      targetPort: 3003
      protocol: TCP
