apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: immich
resources:
  - namespace.yaml
  - secrets.yaml
  - configmap.yaml
  - storage-nfs.yaml
  - redis.yaml
  - deployment-server.yaml
  - deployment-ml.yaml
  - service.yaml
