apiVersion: v1
kind: Service
metadata:
  name: immich-server
  namespace: immich
  labels:
    app: immich-server
    app.kubernetes.io/name: immich-server
    app.kubernetes.io/instance: immich
    app.kubernetes.io/component: server
spec:
  selector:
    app: immich-server
  ports:
    - name: http
      port: 2283
      targetPort: 2283
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: immich-ml
  namespace: immich
  labels:
    app: immich-ml
    app.kubernetes.io/name: immich-ml
    app.kubernetes.io/instance: immich
    app.kubernetes.io/component: machine-learning
spec:
  selector:
    app: immich-ml
  ports:
    - name: http
      port: 3003
      targetPort: 3003
      protocol: TCP
