apiVersion: v1
kind: Service
metadata:
  name: immich-server
  namespace: immich
spec:
  selector:
    app: immich-server
  ports:
    - name: http
      port: 2283
      targetPort: 2283
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: immich-ml
  namespace: immich
spec:
  selector:
    app: immich-ml
  ports:
    - name: http
      port: 3003
      targetPort: 3003
      protocol: TCP
